<nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto fixed-pos">
    <a class="navbar-brand" href="/index/">
      <span class="logo-line-above"><i></i></span>
      <span class="3 navbar-name">KAI QU</span>
      <span class="logo-line-below"><i></i></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-auto" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link nav-link-ltr" href="/index/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-ltr" href="/resume/">Resume <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-ltr" href="/project/">Project</a>
        </li>
        <li class="nav-item ease_in_animation">
          <a class="nav-link nav-link-ltr" href="/about/">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
